.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  &__item {
    padding: 12px;

    @media (max-width: 700px) {
      transition: 0.2s all;
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__title {
    font-size: 28px;
    font-weight: 500;
  }

  &__item_active {
    color: #e5261e;
    position: relative;
  }

  &__item_active::after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    bottom: -8px;
    background: #e5261e;
  }

  &__section_active {
    display: block;
  }
}
