.scrollable {
  height: 718px;
  position: relative;
  overflow: hidden;
  margin-right: -16px;

  &__elem {
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
  }

  &__elem::-webkit-scrollbar-track {
    background-color: #f2f2f2;
    width: 4px;
  }

  &__elem::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 7px;
    height: 505px;
  }

  &__elem::-webkit-scrollbar {
    width: 7px;
  }
}
