.scrollable {
  height: 718px;
  position: relative;
  overflow: hidden;
  margin-right: -16px;
}
.scrollable__elem {
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}




/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollable__elem {
    margin-right: -10px;
    padding-top: 32px;
    margin-top: -32px;
    margin-bottom: -32px;
    padding-bottom: 32px;

    /* ie scrollbar color properties */
    scrollbar-base-color: #F2F2f2;
    scrollbar-face-color: #BDBDBD;
    scrollbar-3dlight-color: #BDBDBD;
    scrollbar-highlight-color: #BDBDBD;
    scrollbar-track-color: #F2F2f2;
    scrollbar-arrow-color: #BDBDBD;
    scrollbar-shadow-color: #BDBDBD;
    scrollbar-dark-shadow-color: #BDBDBD;
  }

  .scrollable__elem:after {
    content: "";
    height: 32px;
    display: block;
  }

}

/*Edge*/
@supports (-ms-ime-align:auto) {
  .scrollable__elem {
    margin-right: -10px;
    padding-top: 16px;
    margin-top: -16px;
    margin-bottom: -16px;
    padding-bottom: 16px;
  }

  .scrollable__elem:after {
    content: "";
    height: 16px;
    display: block;
  }
}

/*Firefox*/
/*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
.scrollable__elem {
  scrollbar-width: thin;
  scrollbar-color: #BDBDBD #F2f2f2;
}


/*Chrome*/
.scrollable__elem::-webkit-scrollbar-track {
  background-color: #F2F2F2;
  width: 4px;
}

.scrollable__elem::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 7px;
  height: 505px;
}

.scrollable__elem::-webkit-scrollbar {
  width: 7px;
}
